.symbol_input {
    width: 250px;
    
}
.symbol_submit {
    border-radius: 3px;
    background-color: white;
    border-color: rgb(58, 58, 58);
    border-width: 1px;
    height: 21px;
}
.wrapper {
    margin-left: 50px;
    margin-top: 20px;
}
.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.left_side {
}
.right-side {
    padding-left: 10px;
    height: 100%;
    border-left: solid 1.25px rgb(119, 119, 119);

}
.about_text {
    width: 10x;
    font-size: 20px;
    color: black; 
    font-weight: bold;
}
.company_description {
    width: 500px;
    font-size: 15px;
    color:rgb(83, 83, 83)
}
.header_image {
    float: left;
    margin-bottom: 10px;
    margin-right: 10px;
    width: 150px;
}
.title {
    font-size: 30px;
    font-weight: bold;
    margin-right: 5px;
}
.index_search {
    width: 50px;
}
.next_page {
    font-size: 17px;
}
.name_and_image {
    width: 50%;
}
.company_name {
    font-size: 30px;
    font-weight: bold;
}
.logo {
    width: 70px;
    vertical-align:middle
}
.price_and_currency {
    margin-top: 10px;
    padding-top: 10px;
    margin-bottom: 20px;
    padding-bottom: 10px;
    border-top: solid rgb(119, 119, 119) 1.25px;
    border-bottom: solid rgb(119, 119, 119) 1.25px;
    width: 90%;
}
.current_price {
    font-size: 40px;
    font-weight: bold;
}
.currency {
    color: rgb(58, 58, 58);
    font-size: 20px;
    margin-left: 1px;
}
.exchange_and_ticker {
    margin-left: 15px;
    font-size: 18px;
}
.exchange {
    color: rgb(58, 58, 58);
}
.change {
    margin-bottom: 10px;
    font-size: 17px;
}
.pos_change {
    color: green;
    margin-left: 3px;
}
.neg_change {
    color: red;
    margin-left: 3px;
}
.eq_change {
    color: rgb(58, 58, 58);
    margin-left: 3px;
}
.bid_ask {
    font-size: 17px;
    margin-left: 5px;
}
.bid_ask_text {
    color: rgb(58, 58, 58);
}
.footer_link {
    text-align: left;
    position: fixed;
    bottom: 0;
    left:0
}
.company_info {
    width: 100%;
    margin-top: 40px;
    margin-bottom: 40px;
}
.info_line {
    height: 29px;
    border-bottom: solid rgbrgb(119, 119, 119) 1.25px;
    margin-top: 10px;
    color: rgb(58, 58, 58);
}
.info_line_text {
    color: rgb(71, 71, 71);
    float: left;
}
.info_line_data {
    float: right;
    font-weight: bold;
}
.column {
    float: left;
    width: 43.5%;
    padding-bottom: 15px; 
  }
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
.after_hours {
    font-size: 13px;
    margin-left: 5px;
    color: rgb(71, 71, 71)
}

  


