.symbol_input {
    width: 250px;
    
}
.symbol_submit {
    border-radius: 3px;
    background-color: white;
    border-color: gray;
    border-width: 1px;
    height: 21px;
}
.whole_body {
    margin-left: 50px;
    margin-top: 20px;
}
.header_image {
    float: left;
    margin-bottom: 10px;
    margin-right: 10px;
    width: 150px;
}
.title {
    font-size: 30px;
    font-weight: bold;
    margin-right: 5px;
}
.index_search {
    width: 50px;
}
.next_page {
    font-size: 17px;
}
.company_name {
    font-size: 30px;
}
.logo {
    width: 70px;
    vertical-align:middle
}
.price_and_currency {
    margin-top: 40px;
    border-top: solid gray 1.5px;
    border-bottom: solid gray 1.5px;
    width: 50%;
}
.current_price {
    font-size: 40px;
}
.change {
    margin-bottom: 10px;
    font-size: 17px;
}
.day_change {
    margin-left: 2px;
}
.pos_day_change {
    color: green;
    margin-left: 1px;
}
.neg_day_change {
    color: red;
    margin-left: 1px;
}
.eq_day_change {
    color: gray;
    margin-left: 1px;
}
.bid_ask {
    font-size: 15px;
    margin-left: 10px;
}

.currency {
    color: gray;
    font-size: 20px;
    margin-left: 1px;
}
.footer_link {
    text-align: left;
    position: fixed;
    bottom: 0;
    left:0
}
.company_info {

}

